PORT=3000
MONGO_URI=mongodb://127.0.0.1:27017/elearning_trungtam
JWT_SECRET=THAY_CHUOI_BI_MAT_RAT_DAI_TAI_DAY
ADMIN_USER=admin
ADMIN_PASSWORD=THAY_MAT_KHAU_MANH
PASS_SCORE=8
VIDEO_DURATION_SECONDS=600
